<html>
<head>
    {% load static %}
    <link href="{% static 'base.css' %}" type="text/css" media="screen" rel="stylesheet" />
    <link rel="icon" href="christmasFavicon.png">
    <title></title>
    <style>
        li {
            direction: rtl
        }

        body {
            background-image: url(background1.jpeg);
            background-size: cover;
            background-size: cover;
            background-size: cover;
            background-size: cover;
        }



        a {
            font-size: 20px;
            font-family: Dorian;
        }
    </style>

</head>
<body>

    <input style="float: left" type="button" value="חזור" onclick="history.back()">

    <span style="font-family:Dorian; font-size: 50px; cursor: pointer; float: right; color: #d4be1c; background-image: url(menuBackground.png); padding: 10px; padding-top: 0;" onclick="openNav() ">&#9776; תפריט</span>
    <div id="mySidenav" class="sidenav" dir="rtl">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="/">דף הבית</a>
        <a href="/accounts/login">היכנס</a>
        <a href="/accounts/register">הירשם</a>
        <a href="UserDetails.aspx">פרטי משתמש</a>
        <a href="PresentsPage.aspx">חנות</a>
        <a href="Games.aspx">משחקים</a>
        <a href="accounts/logout">התנתק</a>

    </div>
    {% block content %}
    {% endblock %}

    <script>
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }
    </script>
</body>
</html>