{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content_header %}
{% load static %}
<style>
    .create
    {
        background-color : grey;
    }

</style>
<link href="{% static 'create.css' %}" rel="stylesheet" type="text/css"/>
<script src="{% static 'create.js' %}"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/cropper/2.3.3/cropper.css" rel="stylesheet"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/cropper/2.3.3/cropper.js"></script>


{% endblock %}

{% block content %}
<div class="file-input">


    <br><br><br><br>

    <div class="upload-window">
        <table id="upload-table" class="upload-table">
            <tr>
                <td>
                  <span>
                        <input class="file" type="file" id="fileInput" accept="image/*"/>
                        <label id="fileInputLabel" class="file-label" for="fileInput">
                            Select from computer
                        </label>
                        <br>

                        <input style="display:none" class="sqdOP yWX7d y3zKF" type="button" id="btnCrop" value="Next"/>
                  </span>
                </td>
            </tr>
            <tr>
                <td>
                    <div>
                        <canvas id="canvas">
                            Your browser does not support the HTML5 canvas element.
                        </canvas>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div id="select-wrapper" style="display:none">
                        <div class="selectWrapper">
                            <select class="selectBox" id="select-ratio">
                                <option value="1|1">1:1</option>
                                <option value="4|5">4:5</option>
                                <option value="16|9">16:9</option>
                            </select>
                        </div>
                    </div>

                </td>
            </tr>
        </table>

        <table class="upload-table" id="description-table" style="display:none">
            <tr>
                <td>
                    <br><br>
                    <div class="preview" id="result"></div>
                </td>
                <td>
                    <form id="description-form" action="/create/select/" method="post">
                        {% csrf_token %}
                        <label for="description">Description: </label>
                        <textarea id="description" name="description" aria-label="Write a caption..."
                                  placeholder="Write a caption..." class="lFzco" autocomplete="off"
                                  spellcheck="false"></textarea>
                        <input type="hidden" name="uri" id="uri" value="">
                        <input class="sqdOP yWX7d    y3zKF     " type="submit" value="share">
                    </form>
                </td>
            </tr>
        </table>


    </div>
</div>

{% endblock %}
