{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content_header %}
{% load static %}
<style>
    .explore
    {
        background-color : grey;
    }
</style>
<link href="{% static 'inbox.css' %}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block content %}


<div class="center container ">


    <div class="split left invisible-scrollbar" >

        <div class="user-nav">
            <p style="text-align:center">{{user}}</p>
        </div>

        <div class="friends-nav" style="z-index=1">
            <br><br><br><br>
            <p>balls1</p>
            <br>
            <p>balls1</p>
            <br>
            <p>balls1</p>
            <br>
            <p>balls1</p>
            <br>
            <p>balls1</p>
            <br>
            <p>balls1</p>
            <br>
            <p>balls1</p>
            <br>
            <p>balls1</p>
            <br>
            <p>balls1</p>
            <br>
            <p>balls1</p>
            <br>
            <p>balls1</p>
            <br>
            <p>balls1</p>
            <br>
            <p>balls1</p>
            <br>
            <p>balls1</p>
            <br>
            <p>balls1</p>
            <br>
            <p>balls1</p>
            <br>
            <p>balls1</p>
            <br>
            <p>balls1</p>
            <br>
            <p>balls1</p>
            <br>
            <p>balls3</p>
            <br>
            <p>balls3</p>
            <br>
            <p>balls3</p>
            <br>
            <p>balls3</p>
        </div>
    </div>

    <div class="split right invisible-scrollbar">
        <div class="DMs">
            <p>balls1</p>
            <br>
            <p>balls1</p>
            <br>
            <p>balls1</p>
            <br>
            <p>balls1</p>
            <br>
            <p>balls1</p>
            <br>
            <p>balls1</p>
            <br>
            <p>balls1</p>
            <br>
            <p>balls1</p>
            <br>
            <p>balls1</p>
            <br>
            <p>balls1</p>
            <br>
            <p>balls1</p>
            <br>
            <p>balls1</p>
            <br>
            <p>balls1</p>
            <br>
            <p>balls1</p>
            <br>
            <p>balls1</p>
            <br>
            <p>balls1</p>
            <br>
            <p>balls1</p>
            <br>
            <p>balls1</p>
            <br>
            <p>balls1</p>
            <br>
            <p>balls3</p>
            <br>
            <p>balls3</p>
            <br>
            <p>balls3</p>
            <br>
            <p>balls3</p>
            <br>
        </div>
    </div>
</div>


{% endblock %}
