<style>
    iframe{
        border:none;
        margin: 0 auto;
        width: 90%
    }

</style>

<div data-internalid="{}" class="post">
    <p hidden id="is_like" style="hidden">{}</p>
    <div class="info">
        <div class="user">
            <div class="profile-pic"><img src="{}" alt=""></div>
            <p class="username">{}</p>
        </div>
    </div>
    <img onclick="handle_click(this)" src="{}" class="post-image" alt="">
    <div class="post-content">
        <div class="reaction-wrapper">
            <!--<img src="img/like.PNG" class="icon" alt="">
            <img src="img/comment.PNG" class="icon" alt=""> -->
            <button class="like_button" onclick="handle_like(this)">
                {}
            </button>
            <!--<img src="img/save.PNG" class="save icon" alt="">-->
        </div>
        <p class="likes">{} likes</p>
        <p class="description"><span>{}</span>{}</p>
        <p class="post-time">{}</p>
    </div>
    {}

</div>
