<!-- templates/registration/login.html -->
<!-- templates/base.html -->

{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="login">
    <div class="form">
        <form method="post" class="login-form">
            {% csrf_token %}
            {{ form.as_p }}
            <p style="text-align:center">Don't have an account? <a href="/accounts/register">register</a> instead.</p>

            <button type="submit">Log In</button>
        </form>
    </div>
</div>
{% endblock %}

