<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}

    <link rel="icon" type="image/x-icon" href="{% static 'imgs/favicon.ico' %}"/>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Linking Css file  -->
    <link href="{% static 'login.css' %}" rel="stylesheet"/>

    <!-- Linking Js file  -->
    <!-- Title  -->
    <title>Sociocode</title>

</head>

<body>

<link href="https://fonts.googleapis.com/css?family=Indie+Flower|Overpass+Mono" rel="stylesheet">

<div id="wrapper">
    <form action="/accounts/login/" method="POST">
        {% csrf_token %}
        {{form}}

        <div class="main-content">
            <div class="header">
                <img src="{% static 'imgs/logoImage.png' %}"/>
            </div>
            <div class="l-part">
                <input type="text" name="username" placeholder="Username" class="input-field"/>
                <div class="overlap-text">
                    <input type="password" name="password" placeholder="Password" class="input-field"/>
                    <a href="#">Forgot?</a>
                </div>
                <input type="submit" value="Log in" class="btn"/>
            </div>
        </div>
        <div class="sub-content">
            <div class="s-part">
                Don't have an account?<a href="/accounts/register">Sign up</a>
            </div>
        </div>
    </form>
</div>

</body>