<!-- templates/registration/login.html -->
<!-- templates/base.html -->
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <title>Login</title>
    {% load static %}

    <link rel="stylesheet" href="{%  static  'login.css'  %}">


<body>
<div class="login">
    <div class="form">
        <form method="post" class="login-form">
            {% csrf_token %}
            {{ form.as_p }}
            <p style="text-align:center">Don't have an account? <a href="/accounts/register">register</a> instead.</p>

            <button type="submit">Log In</button>
        </form>
    </div>
</div>
</body>
</html>





