<!-- templates/registration/login.html -->
<!-- templates/base.html -->

<!-- templates/registration/login.html -->
<!-- templates/base.html -->

{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="login">
    <div class="form">
        <form method="POST">
            {% csrf_token %}
            {{ register_form.as_p }}
            <button class="btn btn-primary" type="submit">Register</button>
        </form>
        <p style="text-align:center">If you already have an account, <a href="/accounts/login">login</a> instead.</p>
    </div>
</div>
{% endblock %}