.file {
  opacity: 0;
  width: 0.1px;
  height: 0.1px;
  position: absolute;
}

.file-input .file-label {
  display: block;
  position: relative;
  width: 200px;
  height: 50px;
  border-radius: 25px;
  background: linear-gradient(40deg,#ff6ec4,#7873f5);
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: transform .2s ease-out;
}


.file-input:hover + .file-label,
.file-input:focus + .file-label {
  transform: scale(1.02);
}

/* Adding an outline to the label on focus */
.file-input:focus + .file-label {
  outline: 1px solid #000;
  outline: -webkit-focus-ring-color auto 2px;
}

.lFzco{
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}


.upload-window {
}

.upload-table {
  margin-left: 30%;
}

td
{
  padding-left: 10px;
  padding-right: 10px;
}

#canvas {
  height: 600px;
  width: 600px;
  background-color: #ffffff;
  cursor: default;
  border: 1px solid black;
}

.selectWrapper{
  border-radius:36px;
  display:inline-block;
  overflow:hidden;
  background:#edf2ff;
  border:1px solid black;

}
.selectBox{
  border:0px;
  outline:none;
  padding: 10px;
  background-color:#edf2ff;
  font-weight:bold;
}


.sqdOP{
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    background:0 0;
    border:0;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    cursor:pointer;
    display:block;
    font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-size:14px;
    font-weight:600;
    padding:5px 9px;
    text-align:center;
    text-overflow:ellipsis;
    text-transform:inherit;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    width:auto
}

.sqdOP:active{
    opacity:.7
}

.sqdOP[disabled],a.sqdOP[disabled]
{
    pointer-events:none
}

.sqdOP[disabled]:not(.A086a){
    opacity:.3
}

.L3NKy,a.L3NKy,a.L3NKy:visited{
    border-radius:4px;
    color:#fff;
    color:rgba(var(--eca,255,255,255),1);
    position:relative
}

.y3zKF:not(.yWX7d),a.y3zKF:not(.yWX7d),a.y3zKF:not(.yWX7d):visited{
    background-color:#0095f6;
    background-color:rgba(var(--d69,0,149,246),1);
    border:1px solid transparent
}

.y3zKF:active:not(.yWX7d),a.y3zKF:active:not(.yWX7d),a.y3zKF:active:not(.yWX7d):visited{
    background-color:rgba(0,149,246,.7);
    background-color:rgba(var(--d69,0,149,246),.7);
    opacity:1
}

.y3zKF[disabled]:not(.yWX7d):not(.A086a),a.y3zKF[disabled]:not(.yWX7d):not(.A086a),a.y3zKF[disabled]:not(.yWX7d):not(.A086a):visited{
    background-color:rgba(0,149,246,.3);
    background-color:rgba(var(--d69,0,149,246),.3);
    opacity:1
}


.yWX7d,.yWX7d:visited,a.yWX7d,a.yWX7d:visited{
    border:0;
    color:#0095f6;
    color:rgba(var(--d69,0,149,246),1);
    display:inline-block;padding:0;
    position:relative
}

.yWX7d.sH_mn,a.yWX7d.sH_mn,a.yWX7d.sH_mn:visited{
    color:#ed4956;
    color:rgba(var(--i30,237,73,86),1)
}

.yWX7d._8A5w5,a.yWX7d._8A5w5,a.yWX7d._8A5w5:visited{
    color:#262626;
    color:rgba(var(--f75,38,38,38),1)
}

.yWX7d.y1rQx,a.yWX7d.y1rQx,a.yWX7d.y1rQx:visited{
    color:#fff;
    color:rgba(var(--eca,255,255,255),1)
}

.yWX7d.A086a,.A086a,a.yWX7d.A086a,a.A086a{
    color:transparent
}
